.skype-title{
    text-align: center;
}

.transcription-title{
    margin-bottom: 2em;
}

.tab-title{
    text-align: left;

}

.trans-title{
    text-align: left;
    margin-bottom: 2em;
}

.lesson-two {
    border: none;
}

.lessons {
    margin-top: 3em;
}