.skype-title{
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
}

.transcription-title{
    margin-bottom: 2em;
}

.tab-title{
    text-align: left;

}

.trans-title{
    text-align: left;
    margin-bottom: 2em;
}

.lesson-two {
    border: none;
}

.lessons {
    margin-top: 3em;
}

.lessons-app {
    max-width: 100%;
}

.link-text{
    color:white;
}

.school-img{
    width:50%;
}

.school-text{
    margin-left: 2em;
}

.lessons-two{
    margin-top: 2em;
    border-bottom: none;
}

@media (min-width: 800px){

    .s3-buy-button{
        margin-right: 1em;
    }

    .lessons-vid{
        display: flex;
        justify-content: space-evenly;
    }

    .transcription{
        margin-right: 5em;
    }

    
    

}