.yt-vid{
    width: 70%;
    
}

.yt-vid-marg {
    margin-bottom: 2em;
}

.yt-video{
    display: flex;
    justify-content: center;
}


.video {
    width: 420px;
    height: 250px;
    border: 1px solid white;
}

.video-title{
    text-decoration: underline;
}

@media (min-width: 800px){
    .col-3{
        display: flex;
        justify-content: center;
    
    }

}